.cards {
  display: grid;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}

.page__cards {
  padding: 70px 70px 28px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  column-gap: 30px;
}