.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
}

.page__profile {
  width: 100%;
  padding: 70px;
  box-sizing: border-box;
}

.profile__greetings {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__data {
  margin: 17px 0 0;
  width: 410px;
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__data:first-of-type {
  margin: 123px 0 0;
}

.profile__data:last-of-type {
  border-bottom: none;
  padding: 0;
}

.profile__label {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  padding: 0;
  width: 50%;
  border: none;
  background: none;
  outline: none;
  text-align: right;
  /* text */
  color: #FFF;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__button {
  cursor: pointer;
  padding: 0;
  width: 410px;
  background: none;
  border: none;
  /* Text */
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* Animation */
  transition: .5s;
}

.profile__button:hover {
  opacity: .5;
}

.profile__button_edit {
  margin: 222px 0 0;
}

.profile__button_logout {
  margin: 16px 0 0;
  color: #EE3465;
}