.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Inter', Arial, sans-serif;
}

.page__show-more {
  padding: 50px 70px 80px;
}

.show-more__button {
  /* Button */
  border: none;
  width: 100%;
  height: 36px;
  border-radius: 6px;
  background: #2f2f2f;
  cursor: pointer;

  /* Animation */
  transition: .5s;

  /* Text */
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.show-more__button:hover {
  opacity: .8;
}

@media screen and (max-width: 1080px) {
  .page__show-more {
    padding: 50px 30px 80px;
  }
}

@media screen and (max-width: 680px) {
  .page__show-more {
    padding: 50px 10px 80px;
  }
}